*{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(background.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
color: #fff;
font-size: 14px;
line-height: 15px;
}
button{
   width: 180px;
   color: #000;
   font-size: 12px; 
   padding: 12px 0;
   background: #fff;
   border: 0;
   border-radius: 20px;
   outline: none;
   margin-top: 30px;
   transition-duration: 0.8s;
   cursor: pointer;
}
button:hover{
    width: 200px;
    height: 250%;
}
.card{
    width:200px ;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding:15px 25px ;
    content: pointer;
    box-sizing: border-box;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    font-weight:900;
    font-style: italic;
    padding-left: 40px;
}
#card1{
    background-image: url(pic-1.png);  
    transition-duration: 0.5s;
    cursor: pointer;
}
#card2{
    background-image: url(pic-2.png);  
    transition-duration: 0.5s;
    cursor: pointer;
}
#card3{
    background-image: url(pic-3.png);  
    transition-duration: 0.5s;
    cursor: pointer;
}
#card4{
    background-image: url(pic-4.png); 
    transition-duration: 0.5s; 
    cursor: pointer;
}
#card1:hover{
    transform: translateY(-10px);
}
#card2:hover{
    transform: translateY(-10px);
}
#card3:hover{
    transform: translateY(-10px);
}
#card4:hover{
    transform: translateY(-10px);
}
.sidenav ul li{
list-style: none;
display: flex;
flex-direction: column;
}
.sidenav ul li a{
    color: #fff;
    text-decoration: none;
    padding-top: 30px; cursor: pointer;
}
.sidenav{
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: transparent;
    border: #000;
}